.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--bg-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    transition: .5s;
    height: 25.5vh;
}

.header.sticky {
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.site-logo {
    width: 25rem;
}

.socialnav ul {
    display: flex;
}

.socialnav a {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    margin: 15px;
    padding: 5px;
}

.socialnav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    bottom: -4px;
    background-color: var(--white-color);
    box-shadow: -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
    transition: width 0.3s ease-in-out;
}

.socialnav a:hover {
color: var(--main-color);
}

.logoonce img {
    width: 200px;
}

#menu-icon {
    display: none;
    width: 50px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: var(--white-color);
  }
  
  #menu-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: var(--main-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #menu-icon span:nth-child(1) {
    top: 0px;
  }
  
  #menu-icon span:nth-child(2) {
    top: 15px;
  }
  
  #menu-icon span:nth-child(3) {
    top: 30px;
  }
  
  #menu-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #menu-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #menu-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

.navbar {
    width: 100%;
    margin-top: 1%;

}

.navbar a {
    position: relative;
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 500;
    margin-right: 3.5rem;
    font-family: Coustard, Helvetica, sans-serif;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    bottom: -4px;
    background-color: var(--white-color);
    box-shadow: -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
    transition: width 0.3s ease-in-out;
}
  
.navbar a:hover::before {
    width: 100%;
    bottom: -4px;
    right: initial;
    left: 0;
}

nav#navbar.navbar.activo a {
    color: var(--white-color);  
}

nav#navbar.navbar.activo ul {
    width: 250px; 
}


#darkMode-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    text-shadow: -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
    cursor: pointer;
}

nav#navbar.navbar.activo {
    background-color: var(--main-color);
    height: 480px;
}


 /* MEDIA QUERY */


 @media (max-width: 1097px) {
    .site-logo{
        width: 340px;

          }
    .banner a img {
  width: 340px;
  height: 95px;
    }
    header #menu-icon {
        display: block;
    }
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
    .navbar a {
        font-size: 1rem;
        margin-right: 3rem;
    }
    .heading {
        display: flex;
        text-align: center;
        justify-content: center;;
        gap: 10px;
    }
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin-left: 15%;
        margin-top: 15%;
        
    }

        header .navbar {
        width:100%;
        height:0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

        header .navbar.activo {
        height:50vh;
        pointer-events: auto;
    }
  }


 @media (max-width: 1024px) {
    .socialnav a {
        font-size: 2rem;
    }
    .site-logo {
        width: 45rem;
    }
    .logoonce {
        position: fixed;
        top: 40px;
        right: 22px;
    }

    .logoonce img {
        width: 180px;
    }

}

@media (max-width: 921px) {
    div#darkMode-icon.bx.bx-moon::before {
        font-size: 5rem;
        top: 8px;
        color: var(--white-color);
    }

    div#darkMode-icon.bx.bx-sun::before {
        font-size: 5rem;
        top: 8px;
        color: var(--white-color);
    }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }
    div#darkMode-icon.bx.bx-moon::before {
        font-size: 5rem;
        top: 8px;
        color: var(--white-color);
    }

    div#darkMode-icon.bx.bx-sun::before {
        font-size: 5rem;
        top: 8px;
        color: var(--white-color);
    }

}

@media (max-width: 780px) {
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
    .navbar a {
        margin-right: 2.9rem;
    }
}

@media (max-width: 768px) {

    div#darkMode-icon.bx.bx-moon::before {
        font-size: 5rem;
        color: var(--white-color);
    }

    div#darkMode-icon.bx.bx-sun::before {
        font-size: 5rem;
        color: var(--white-color);
    }

    
}

@media (max-width: 629px) {
    .banner a img {
  width: 340px;
  height: 95px;
    }
    div.slide-copy {
        width: 250px;
    }
    #next {
      right: 20%;
    }
  }
  
  @media (max-width: 564px) {
    .banner a img {
  width: 300px;
  height: 80px;
    }
    .site-logo {
        height: 6.6rem;
    }
    .logoonce img {
        width: 140px;
    }
  }
  
  @media (max-width: 480px) {
    .banner a img {
  width: 275px;
  height: 70px;
    }
    .logoonce img {
        width: 120px;
    }
  }
  
  @media (max-width: 430px) {
    .banner a img {
      width: 230px;
        }
        .logoonce img {
            width: 120px;
        }
        .socialnav a {
            font-size: 1.7rem;
            margin: 12px;
            padding: 5px;
        }
  }

  @media (max-width: 400px) {
    .banner a img {
      width: 210px;
        }
        .logoonce img {
            width: 120px;
        }
        .logoonce {
            top: 50px;
          }
          .socialnav a {
            font-size: 1.6rem;
            margin: 11px;
            padding: 5px;
        }
  }
  
  @media (max-width: 365px) {
    .banner a img {
      width: 180px;
        }
        .logoonce img {
            width: 120px;
        }
        .logoonce {
          top: 50px;
        }
        .socialnav a {
            font-size: 1.5rem;
            margin: 10px;
            padding: 4px;
        }
  }
  
  @media (max-width: 330px) {
    .banner a img {
        width: 160px;
          }
          .logoonce img {
              width: 100px;
          }
          .logoonce {
            top: 50px;
          }
          .socialnav a {
            font-size: 1.4rem;
            margin: 9px;
            padding: 4px;
        }
}