  .warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:300px;
    text-align:center;
    margin-top: 2%;
  }

  .gear {
    margin: 2%;
  }

  .alumniportalento {
display: flex;
flex-direction: column;
    
}

.alumnicards > div {
    
    border: 1px solid green;
    margin-bottom: 20px;
    width: 221px;
    height: auto;
}

/* Agrega una media query para ajustar el diseño en pantalla más pequeña */
@media (max-width: 768px) {
    .alumnicards > div {
        flex-basis: calc(100% - 20px); /* Cambia a una columna completa en pantalla pequeña */
    }
}
