  .warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:300px;
    text-align:center;
    margin-top: 2%;
  }

  .gear {
    margin: 2%;
  }

  .alumnicards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
    padding: 2%;
}

.alumnicard {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    border-radius: 5%;
    overflow: hidden;
    &:hover {
      color: var(--white-color);
      background-color: var(--main-color);
    }
}

.alumnicard img {
  width: auto;
  height: auto;
  transition: transform 0.3s ease; 
  
  &:hover {
    transform: scale(1.1);
    border-radius: 5%;
  }
}

.alumnicard img:hover {
  transform: scale(1.2); /* Aumenta la imagen en un 20% en hover */
}

.alumnicard h4, p, a{
  margin: 4%;

}

.alumnicard h4 {
  font-size: 22px;

}


@media (max-width: 768px) {
    .alumnicard {
        flex-basis: calc(50% - 20px);
    }
}