.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 4rem;
}

.portfolio-layer p {
    font-size: 2rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

#portfolio-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 2rem;
}

#portfolio-links a i{
    font-size: 4rem;
    color: var(--main-color);
}

#tech {
    font-size: 1.6rem;
    margin: 1.5rem 0 1rem;
    color: var(--white-color);
    }