.treasure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .treasure-animation{
    margin-bottom: -3rem;
  }

  .becaportalento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  
  .becaportalento h2 {
    color: var(--text-color);
    padding: 1%;
    font-size: 60px;
    border-bottom: 8px solid var(--main-color);
    justify-content: center;
  }

  .beca-a, .beca-b {
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color);
    width: 530px;
    height: auto;
    margin-bottom: 5%;
  }
  
  .beca-a img {
    background-color: #982536;
    height: auto;
    width: 190px;
    padding: 3%;
  }
  .beca-b img{
    background-color: #F4A460;
    height: auto;
    width: 145px;
    padding: 3%;
  }
  
  .beca-a a, .beca-b a{
    color: var(--text-color);
    margin: 5%;
    font-size: 20px;
    font-weight: bold;
  }

  @media (max-width: 564px) {
    .beca-a a, .beca-b a{
      font-size: 18.2px;
    }
  }