.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .infoxtalento {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    margin-top: 8%;
  }

  .infoxtalento a {
    color: var(--white-color);
    margin-top: 1.5%;
  }

  .generaciond {
    width: 280px;
    height: auto;
  }
  .address p {
    padding: 5px 0;
    text-align: center;
  }
  .moreinfo ul li {
    padding: 5px 0;
    font-weight: 600;
    text-align: center;
  }

  .moreinfo a {
    color: var(--main-color);
  }

  .moreinfo a:hover {
    text-decoration: underline;
  }
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 860px) {
    .footer {
      flex-direction: column;
      gap: 20px;
    }
  }
  