.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}


.cursos h2 {
    color: var(--text-color);
    margin: 0 15% 5% 15%;
    padding: 1%;
    font-size: 70px;
    border-bottom: 2px solid var(--main-color);
  }
  
  .tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 3%;
  }
  
  .tarjeta {
    border: 1px solid var(--text-color);
    border-radius: 5%;
    width: calc(30% - 20px); 
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .dark-mode .tarjeta{
	border: 1px solid var(--white-color);
    background-color: var(--bg-color)
}
  
  .columna-vertical {
    padding: 10px;
    text-align: center;
  }
  
  .columna-vertical p {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .columna-horizontal {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  
  .columna-horizontal button {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  columna-horizontal .button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
  }
  
  @media (max-width: 1200px) {
    .tarjeta {
        width: calc(45% - 20px); 
    }
  }

  @media (max-width: 768px) {
    .tarjeta {
        width: 100%;
    }
  }