.pagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
  
  
  .pagetitle h2 {
    color: var(--text-color);
    padding: 1%;
    font-size: 60px;
    border-bottom: 8px solid var(--main-color);
    justify-content: center;
  }
  
  .tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 3%;
  }
  
  .tarjeta {
    border: 1px solid var(--text-color);
    border-radius: 5%;
    width: calc(30% - 20px); 
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
  }
  
  .dark-mode .tarjeta{
  border: 1px solid var(--white-color);
    background-color: var(--bg-color)
  }
  
  .columna-vertical {
    padding: 10px;
    text-align: center;
  }
  
  .columna-vertical p {
    margin: 0;
    font-size: 22px;
  }
  
  .nombrecurso {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .columna-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .columna-horizontal button {
    background-color: white;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 80px;
  }
  
  .dark-mode .columna-horizontal button {
    color: var(--main-color);
  }
  
  .columna-horizontal button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
  }
  
  .fecha {
    font-weight: bold;
    color: rgb(111, 111, 111);
    font-family: Neuton, Geneva, Tahoma, sans-serif;
    font-size: 35px;
  }
  
  .datocard {
    font-weight: bold;
  }
  
  @media (max-width: 1200px) {
    .tarjeta {
        width: calc(45% - 20px); 
    }
  }
  
  @media (max-width: 768px) {
    .tarjeta {
        width: 100%;
    }
    .pagetitle h2 {
      font-size: 55px;
    }
  }
  
  @media (max-width: 564px) {
    .pagetitle h2 {
      font-size: 46px;
    }
  }
  
  @media (max-width: 480px) {
    .pagetitle h2 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 445px) {
    .pagetitle h2 {
      font-size: 30px;
    }
}